.card {
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 300px;
  width: 200px;
  overflow: hidden;
  text-align: center;
}

.card img {
  height: 50%;
  width: 50%;
}

.card p {
  opacity: 0.8;
}
